.header {  
  padding: 0px;
  color: #170C34;
  position: relative;
  background: #FFFFFF;
  border-bottom: 1px solid #D3D3D3;
}

.header-container{
  max-width: 1120px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 99px;
}

.header-textbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: linear-gradient(90.32deg, #FEBED9 -39.08%, #C8DDFF 91.1%);
  font-family: 'Mona-Sans', sans-serif;
  color: #241042;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 150%;
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo img {
  width: 101px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  color: #241042;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  transition: color 0.3s ease;
  font-family: 'Mona-Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #170C34;
}

.nav-links a:hover {
  color: #ff3b81;
}

.header-right {
  display: flex;
  align-items: center;
}

i.fa{
  color: #170C34;
}

.language-select {
  margin-right: 15px;
  cursor: pointer;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 4px 6px 12px;
  gap: 4px;
  border: 1px solid #170C34;
  border-radius: 100px;

}

.login-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 15px 4px 15px;
  gap: 10px;
  border: 1px solid #170C34;
  backdrop-filter: blur(2px);
  border-radius: 100px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.login-btn img{
  width: 24px;
  height: 24px;
}

.login-btn:hover {
  background-color: #170C34;
  color: #fff;
}

/* Mobile Menu Icon */
.mobile-menu-icon {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.mobile-show{
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: linear-gradient(140.35deg, #170C34 14.46%, #482084 58.66%, #3A86FF 117.61%);
    padding: 20px;
    text-align: center;
    z-index: 1;
  }

  .nav-links-mobile a {
    margin: 10px 0;
    font-size: 18px;
    color: #fff;
  }

  .mobile-menu-icon {
    display: block;
  }

  .desktop-show{
    display: none;
  }

  .mobile-show{
    display: block;
  }

  .header-container {
    height: 60px;
    margin: 0px 20px;
  }

  .header-container {
    max-width: 90%;
    width: 100%;
  }

  .login-btn{
    display: none;
  }

  button.mobile-menu-icon {
    margin-right: 30px;
  }

}


